services:
  react-jenkins-project1:
    container_name: react-jenkins-project1-container
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    stdin_open: true
    tty: true